*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #eee;
}
header.header{
    height: 80vh;
    background-color: blueviolet;
	background-image: url("/assets/img/header\ laptops.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.overlay{
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 80vh;
}
.big{
	font-family: 'Dancing Script', cursive !important;
	color: #ffc000;
	font-weight: 700;
	font-size: larger;
}
.btn-yellow:hover{
	background-color: #ffc000;
	color: #fff;
}
.vertically-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar {
    transition: all 0.4s;
}
.navbar .nav-link {
    color: #fff;
	font-size: 0.9em;
}
.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}
.navbar .navbar-brand {
    color: #fff;
}
/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}
.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}
/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }
    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}
header.header{
	
}
.text-small {
    font-size: 0.9rem !important;
}
.floating-box{
    box-shadow: 0px 6px 13px 2px rgba(0,0,0,0.55);
    -webkit-box-shadow: 0px 6px 13px 2px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 6px 13px 2px rgba(0,0,0,0.55);
    z-index: 1;
    padding: 1em 2em;
    background-color: #fff;
    width: 100%;
    margin-top: -75px;
    border-radius: 1em;
    border: 1px solid rgb(221, 221, 221);
}
.features{
    flex-wrap: wrap;
}
.feature{
    flex-grow: 1;
    flex-direction: column;
}
.feature i{
    background-color: #ffc000;
    border-radius: 50%;
    padding: 1.5em;
}
@media (max-width: 800px) {
    .floating-box{
        flex-direction: column;
    }
}
.numbering-counter{
	flex-direction: column;
}
.counter-title{
	font-weight: 700;
		
}
.counter-number{
	font-size: 4em;
	line-height: 1em;
	font-weight: 600;
	color: #ffc000;
}
.box{
    background-color: #fff;
    border-radius: 0.2em;
    border: 1px solid rgb(221, 221, 221);
    padding: 2em 2em;
    box-shadow: 0px 6px 13px 2px rgba(0,0,0,0.55);
    -webkit-box-shadow: 0px 6px 13px 2px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 6px 13px 2px rgba(0,0,0,0.55);
}
.transition-8{
	transition: all 0.8s linear;
}
.search-bar{
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
	padding: 0.8em 2em;
}
.btn-search-round{
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
}
.search-header{
	display: none;
	transition: all 2s linear;
}
.search-open{
	display: block;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 201;
	box-shadow: 1px 0px 10px 1px ;
}
button.close{
	outline: none;
}
a.login-register{
	text-decoration: none;
}

.text-light-gray{
	color: rgb(214, 214, 214) !important;
}

.social-icon{
	padding: 0em 0.4em;
}

.badge {
	padding-left: 9px;
	padding-right: 9px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
  }
  
  .label-warning[href],
  .badge-warning[href] {
	background-color: #c67605;
  }
  #lblCartCount {
	  font-size: 12px;
	  color: #fff;
	  padding: 1px 6px;
	  vertical-align: top;
	  margin-left: -10px; 
  }
#all_news {
	
    height: 32px;
    
    overflow: hidden;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 3px;
    position: relative;
    -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5)
}
ul.news-ul {
    float: left;
    padding-left: 20px;
    -webkit-animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
    -moz-animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
    -ms-animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
    animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite
}

ul.news-ul:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -ms-animation-play-state: paused;
    animation-play-state: paused
}

ul.news-ul li {
    line-height: 30px
}

#all_news a {
    color: #fff;
    text-decoration: none;
    font-size: 13px
}

@keyframes ticker {
    0% {
        margin-top: 0;
    }

    25% {
        margin-top: -35px;
    }

    50% {
        margin-top: -65px;
    }

    75% {
        margin-top: -95px;
    }

    100% {
        margin-top: 0;
    }
}

.carousel {
	margin:  auto;
	padding: 0 5em;
}
.carousel .item {
	color: #747d89;
	min-height: 325px;
	text-align: center;
	overflow: hidden;
}
.carousel .thumb-wrapper {
	padding: 25px 15px;
	background: #fff;
	border-radius: 6px;
	text-align: center;
	position: relative;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.carousel .item .img-box {
	height: 120px;
	margin-bottom: 20px;
	width: 100%;
	position: relative;
}
.carousel .item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.carousel .item h4 {
	font-size: 18px;
}
.carousel .item h4, .carousel .item p, .carousel .item ul {
	margin-bottom: 5px;
}
.carousel .thumb-content .btn {
	color: #ffc000;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	background: none;
	border: 1px solid #ffc000;
	padding: 6px 14px;
	margin-top: 5px;
	line-height: 16px;
	border-radius: 20px;
}
.carousel .thumb-content .btn:hover, .carousel .thumb-content .btn:focus {
	color: #fff;
	background: #ffc000;
	box-shadow: none;
}
.carousel .thumb-content .btn i {
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
}
.carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.carousel .item-price strike {
	opacity: 0.7;
	margin-right: 5px;
}
.carousel-control-prev, .carousel-control-next {
	height: 44px;
	width: 40px;
	background: #ffc000;	
	margin: auto 0;
	border-radius: 4px;
	opacity: 0.8;
}
.carousel-control-prev:hover, .carousel-control-next:hover {
	background: #ffc000;
	opacity: 1;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 36px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: -19px 0 0 0;
	z-index: 5;
	left: 0;
	right: 0;
	color: #fff;
	text-shadow: none;
	font-weight: bold;
}
.carousel-control-prev i {
	margin-left: -2px;
}
.carousel-control-next i {
	margin-right: -4px;
}		
.carousel-indicators {
	position: relative;
	bottom: -30px;
	padding-bottom: 2em;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border: none;
}
.carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
.carousel .wish-icon {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 99;
	cursor: pointer;
	font-size: 16px;
	color: #abb0b8;
}
.carousel .wish-icon .fa-heart {
	color: #ff6161;
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #ffc000;
}

.footer-dark {
	padding:50px 0;
	color:#f0f9ff;
	background-color:#282d32;
  }
  
  .footer-dark h3 {
	margin-top:0;
	margin-bottom:12px;
	font-weight:bold;
	font-size:16px;
  }
  
  .footer-dark ul {
	padding:0;
	list-style:none;
	line-height:1.6;
	font-size:14px;
	margin-bottom:0;
  }
  
  .footer-dark ul a {
	color:inherit;
	text-decoration:none;
	opacity:0.6;
  }
  
  .footer-dark ul a:hover {
	opacity:0.8;
  }
  
  @media (max-width:767px) {
	.footer-dark .item:not(.social) {
	  text-align:center;
	  padding-bottom:20px;
	}
  }
  
  .footer-dark .item.text {
	margin-bottom:36px;
  }
  
  @media (max-width:767px) {
	.footer-dark .item.text {
	  margin-bottom:0;
	}
  }
  
  .footer-dark .item.text p {
	opacity:0.6;
	margin-bottom:0;
  }
  
  .footer-dark .item.social {
	text-align:center;
  }
  
  @media (max-width:991px) {
	.footer-dark .item.social {
	  text-align:center;
	  margin-top:20px;
	}
  }
  
  .footer-dark .item.social > a {
	font-size:20px;
	width:36px;
	height:36px;
	line-height:36px;
	display:inline-block;
	text-align:center;
	border-radius:50%;
	box-shadow:0 0 0 1px rgba(255,255,255,0.4);
	margin:0 8px;
	color:#fff;
	opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
	opacity:0.9;
  }
  
  .footer-dark .copyright {
	text-align:center;
	padding-top:24px;
	opacity:0.3;
	font-size:13px;
	margin-bottom:0;
  }